/* :root {

} */

body {
    font-family: 'Roboto', sans-serif;
}

/* Хедер */
.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.38;
    color: #000000;
}
.logo-first-word {
    color: #2196F3; 
}
.header-link {
    list-style: none;
}
.header-link-nav {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: #212121;
}
.header-link-nav:hover, .header-link-nav:focus {
    color: #2196F3;
}
.header-link-item {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: #757575;
}
.header-link-item:hover, .header-link-item:focus {
    color: #2196F3;
}
.header-link-nav.current {
    color: #2196F3;
}

/* Футер */
.footer {
    background-color: #2F303A;;
}
.logo-second-word {
    color: #FFFFFF;
}
.footer-link {
    list-style: none;
    font-style: normal;
}
.footer-link-location {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}
.footer-link-item {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF99;
}
.footer-link-location:hover, .footer-link-location:focus {
    color: #2196F3;
}
.footer-link-item:hover, .footer-link-item:focus {
    color: #2196F3;
}

/* index.html */
.title {
    background-color: #2F303A;
}
.hero-title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
}
.hero-button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    background-color: #2196F3;
}

/* portfolio.html */

